@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@700&family=Roboto:wght@100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
    z-index: 100;
    position: sticky;
}

.nav-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    height: 60px;
}

.email-font {
    font-family: 'Poppins', sans-serif;
    /* actuallydoc@gmail.com */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    color: #393939;


}

/* Fix this doesnt want to be more bol */
.introduction-text {
    /* Hey there, i’m Maj */

    position: absolute;
    width: 255px;
    height: 60px;
    left: calc(50% - 255px/2 - 0.5px);
    top: 250px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 60px;
    /* identical to box height, or 207% */
    color: #000000;


}

.introduction-text {
    background-image: linear-gradient(to right, black, black);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 0% 1px;
    animation: pulse-animation 4s infinite ease-in-out;
}

@keyframes pulse-animation {
    0% {
        background-size: 0% 1px;
    }

    50% {
        background-size: 100% 1px;
    }

    100% {
        background-size: 0% 1px;
    }
}


.my-specialty {

    position: absolute;
    width: 1201px;
    height: 182px;
    left: 410px;
    top: 310px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 60px;
    line-height: 60px;
    /* or 100% */
    color: #000000;



}

.bottom_part {
    /* & Coding Enthusiast */

    position: absolute;
    width: 1201px;
    height: 182px;
    left: 670px;
    top: 380px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    /* or 100% */

    color: #000000;

}

.about-me {
    width: 777px;
    height: 88px;

    /* Paragraph */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* or 143% */

    color: #393939;

    position: absolute;
    left: 590px;
    top: 450px;


}


.tech-icons {
    position: absolute;
    width: 1500px;
    height: 150px;
    left: 350px;
    bottom: 200px;
    animation: mymove 3s infinite alternate;
}

@keyframes mymove {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0);
    }
}

.hire-me-text {
    /* Im currently looking for a job & mentorship in the summer */

    position: absolute;
    width: 684px;
    height: 285px;
    left: 620px;
    top: 863px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    line-height: 112px;
    /* or 249% */

    color: #000000;


}

.discord-widget {
    position: absolute;
    width: 360px;
    height: 150px;
    left: 1450px;
    top: 1224px;
}

.button-github {

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 24px 48px;

    position: absolute;
    width: 297px;
    height: 85px;
    left: 800px;
    top: 729px;

    background: #B8A7A7;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
        0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
        0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
        0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
        0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
        0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    border-radius: 100px;
    /* H6 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 112px;
    /* identical to box height, or 533% */

    color: #000000;







}

.button-github:hover {

    transition: 0.5s;
    cursor: pointer;
}

.footer-spacer {
    position: absolute;
    width: 100%;
    height: 0;
    top: 1127px;
    border: 1px solid #000000;
    transform: rotate(180deg);

}

.footer-madeby {
    /* Made by Maj with */

    position: absolute;
    width: 176px;
    height: 30px;
    left: 55px;
    top: 1447px;

    /* Paragraph */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    /* identical to box height, or 143% */

}

.heart-emoji {
    position: absolute;
    width: 30px;
    height: 30px;
    left: 240px;
    top: 1453px;
}

.made-with {
    /* Designed with Figma, React, NextJS */

    position: absolute;
    width: 360px;
    height: 30px;
    left: 1520px;
    top: 1454px;

    /* Paragraph */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    /* identical to box height, or 143% */

    color: #000000;


}

.about-footer {
    /* About */

    position: absolute;
    width: 94px;
    height: 112px;
    left: 214px;
    top: 1148px;

    /* H5 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 112px;
    /* identical to box height, or 373% */

    color: #000000;


}

.about-footer-text {
    /* I'm a 19-year-old software developer from Slovenia, and I'm thrilled to share my passion for coding and programming with you. */

    position: absolute;
    width: 431px;
    height: 120px;
    left: 71px;
    top: 1237px;

    /* Paragraph */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 30px;
    /* or 143% */

    color: #000000;


}

.si-flag {
    /* image 20 */

    position: absolute;
    width: 26px;
    height: 26px;
    left: 269px;
    top: 1450px;


}

.get-in-touch {
    /* Get in touch with me */

    position: absolute;
    width: 328px;
    height: 73px;
    left: 790px;
    top: 1148px;

    /* H5 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 112px;
    /* or 373% */

    color: #000000;


}

.discord-footer {
    /* github 1 */

    position: absolute;
    width: 32px;
    height: 34px;
    left: 870px;
    top: 1252px;


}

.github-footer {
    /* image 19 */

    position: absolute;
    width: 41px;
    height: 41px;
    left: 910px;
    top: 1250px;


}

.linkedin-footer {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 990px;
    top: 1250px;
}

.twitter-footer {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 950px;
    top: 1255px;
}

.warning-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning-modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 50px;
    text-align: center;
}

.warning-modal-text {
    margin-bottom: 20px;
}

.warning-modal-button {
    background-color: #A42323;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Caution! */
.warning-modal-caution {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 112px;
}